.container.layout-container {
    float: right;
}
span.placeholder.col-6.game-name-cls {
    display: inline;
}
html {
    position: relative;
    min-height: 100%;
  }

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    width: 100%;
    position:absolute;
  }

.container.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
}

.badge.text-wrap.live-text {
  position: absolute;
  margin-top: 3px;
  margin-left: 3px !important;
  background-color: red !important;
}
.views-count {
  position: absolute;
  margin-top: 107px;
  margin-left: 203px !important;
  background-color: rgb(255 117 244) !important;
  color: black !important;
}